{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form action="" method="post">
      <!-- hidden_tag() merupakan part dari SECRET_KEY pada python -->
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        <div class="form-group">
          <!-- isi label dari code python -->
          <!-- dan bawahnya input  -->
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {%  for error in form.username.errors %}
                  <span> {{  error }}</span>
                {%  endfor %}
              </div>

          {%  else %}
            {{ form.username(class="form-control form-control-lg") }}

          {% endif %}
        </div>

        <div class="form-group">
          <!-- isi label dari code python -->
          <!-- dan bawahnya input  -->
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {%  for error in form.email.errors %}
                  <span> {{  error }}</span>
                {%  endfor %}
              </div>

          {%  else %}
            {{ form.email(class="form-control form-control-lg") }}

          {% endif %}
        </div>

        <div class="form-group">
          <!-- isi label dari code python -->
          <!-- dan bawahnya input  -->
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {%  for error in form.password.errors %}
                  <span> {{  error }}</span>
                {%  endfor %}
              </div>

          {%  else %}
            {{ form.password(class="form-control form-control-lg") }}

          {% endif %}
        </div>

        <div class="form-group">
          <!-- isi label dari code python -->
          <!-- dan bawahnya input  -->
          {{ form.confirm_password.label(class="form-control-label") }}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {%  for error in form.confirm_password.errors %}
                  <span> {{  error }}</span>
                {%  endfor %}
              </div>

          {%  else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}

          {% endif %}
        </div>

      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-success") }}
      </div>

    </form>
  </div>
  <div class="border-top pt-3">
    <small class="test-muted">
      <!-- harus diingat href a url_for mengarah ke FUNCTION pada functions.py
      bukan urlnya, isi dari url_for() adalah FUNCTION / def -->
      Already have account? <a class="ml-2" href="{{ url_for('login') }}">
      Click Here..</a>
    </small>
  </div>

{% endblock content %}
